page-collection {
  .header-title {
    text-align: center;
    margin-left: 30px;
  }
  .search-box {
    margin: 10px 0px;
  }
  .my-latest {
    text-transform: uppercase;
    padding: 0 $margin-left-right;
    .see-more {
      position: absolute;
      font-weight: 500;
      color: $label-green-color;
      right: $margin-left-right;
    }
  }
  .slide-wrap {
    height: 120px !important;

    .slide-border {
      margin: 0 $margin-left-right;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;
      overflow: hidden;

      .slide {
        margin: -10px -10px;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: 0.85;
        filter: blur(9px);
        -webkit-filter: blur(9px);
        height: 120px;
      }
    }
  }
  .slide-item {
    position: absolute;
    top: $margin-top-bottom;
    left: 0;
    background-color: transparent !important;
    color: white;
    .desp {
      color: white;
      font-size: 12px;
      margin-top: $margin-top-bottom;
    }
  }
  .shelf-item {
    margin: $margin-top-bottom $margin-left-right;
    border-bottom: 1px solid $border-grey-color;
    display: flex;
    .shelf-thumbnail {
      margin: auto $margin-left-right;
      height: 80px;
      width: 120px;
      overflow: hidden;
      ion-thumbnail {
        img {
          object-fit: fill;
          height: 80px;
          width: 60px;
        }
      }
      .back1 {
        margin-top: -70px;
        margin-left: 10px;
        position: relative;
        z-index: -1;
      }
      .back2 {
        margin-top: -60px;
        margin-left: 20px;
        position: relative;
        z-index: -2;
      }
    }
    .shelf-desp {
      padding: 0 !important;
      .shelf-title {
        font-size: 18px;
        font-weight: 500;
      }
      .shelf-desp {
        margin-top: -15px;
        font-size: 12px;
        color: $label-grey-color;
      }
    }
  }
}
.item-inner {
  border: none !important;
}
