page-collection {
  .header-title {
    text-align: center;
    margin-left: 30px;
  }
  .search-box {
    margin: 10px 0px;
  }
  .my-latest {
    text-transform: uppercase;
    padding: 0 $margin-left-right;
    .see-more {
      position: absolute;
      font-weight: 500;
      color: $label-green-color;
      right: $margin-left-right;
    }
  }
  .slide-wrap {
    height: 120px !important;

    .slide-border {
      margin: 0 $margin-left-right;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;
      overflow: hidden;

      .slide {
        margin: -10px -10px;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: 0.85;
        filter: blur(9px);
        -webkit-filter: blur(9px);
        height: 120px;
      }
    }
  }
  .slide-item {
    position: absolute;
    top: $margin-top-bottom;
    left: 0;
    background-color: transparent !important;
    color: white;
    .desp {
      color: white;
      font-size: 12px;
      margin-top: $margin-top-bottom;
    }
  }
}
.item-inner {
  border: none !important;
}
