<ion-header>
  <ion-navbar>
    <ion-title class="header-title">
      My Collection
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search in your shelves" class="search-box"></ion-searchbar>
  <div class="my-latest">
    <span>my latest added items:</span>
    <span class="see-more">see all</span>
  </div>
  <ion-slides class="slide-wrap">
    <ion-slide *ngFor="let item of latest">
      <!--<div style='background-image: url("assets/imgs/thumbnail-totoro.png"); width: 100%; height: 100px'></div>-->
      <!--<ion-item [style.backgroundImage]="'url('+item.image+')'">-->
      <div class="slide-border">
        <div [ngStyle]="{'background-image': 'url(' + item.image + ')'}" class="slide">
        </div>
      </div>
      <ion-item class="slide-item">
        <ion-thumbnail item-start>
          <img src="{{item.image}}">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p class="desp">by {{item.author}}</p>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <div *ngFor="let shelf of shelves" class="shelf-item">
    <div class="shelf-thumbnail">
      <ion-thumbnail>
        <img src="{{shelf.items[0].image}}">
      </ion-thumbnail>
      <ion-thumbnail *ngIf="shelf.items.length > 1" class="back1">
        <img src="{{shelf.items[1].image}}">
      </ion-thumbnail>
      <ion-thumbnail *ngIf="shelf.items.length > 2" class="back2">
        <img src="{{shelf.items[2].image}}">
      </ion-thumbnail>
    </div>
    <div class="shelf-desp">
      <p class="shelf-title">{{shelf.name}}</p>
      <p class="shelf-desp">{{shelf.no_books}} items</p>
    </div>
  </div>
</ion-content>
