page-home {
  .focus-label {
    color: $label-green-color;
  }
  .desp-label {
    color: $label-grey-color;
    margin-top: 10px;
    font-size: 14px;
  }
  .rating {
    color: $label-grey-color;
    margin-top: 10px;
    font-size: 14px;
    [name^=star] {
      font-size: 12px;
    }
    [name=star] {
      color: $label-green-color;
    }
    button {
      background-color: transparent;
    }
  }
  .rating-popup {
    text-align: center;
  }
  .social {
    color: $label-green-color;
  }
}
.ios {
  .shelf-button {
    background-color: $button-green-color;
    color: white;
    margin-top: 10px;
    padding-right: 5px !important;
    //width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    * {
      background-color: transparent;
      color: white;
      padding: 4px;
    }
    .shelf-arrow {
      border-left: 1px solid $border-green-color;
      margin-left: 7px;
      padding-left: 10px;
      //padding-top: 5px;
    }
  }
  .shelf-button-added {
    background-color: $button-grey-color;
    margin-top: 10px;
    padding-right: 5px !important;
    //width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    * {
      background-color: transparent;
      padding: 4px;
    }
    .shelf-arrow {
      border-left: 1px solid $border-grey-color;
      margin-left: 7px;
      padding-left: 10px;
      //padding-top: 5px;
    }
  }
}
.md {
  .shelf-button {
    background-color: $button-green-color;
    color: white;
    margin-top: 10px;
    //width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    * {
      background-color: transparent;
      color: white;
      padding: 4px;
    }
    .shelf-arrow {
      border-left: 1px solid $border-green-color;
      margin-left: 7px;
      padding-left: 10px;
      //padding-top: 5px;
    }
  }
  .shelf-button-added {
    background-color: $button-grey-color;
    margin-top: 10px;
    //padding-right: 5px !important;
    //width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    * {
      background-color: transparent;
      padding: 4px;
    }
    .shelf-arrow {
      border-left: 1px solid $border-grey-color;
      margin-left: 7px;
      padding-left: 10px;
      //padding-top: 5px;
    }
  }
}
