page-home {
  .focus-label {
    color: #005959;
  }
  .desp-label {
    color: #8c8c8c;
    margin-top: 10px;
    font-size: 14px;
  }
  .rating {
    color: #8c8c8c;
    margin-top: 10px;
    font-size: 14px;
    [name^=star] {
      font-size: 12px;
    }
    button {
      background-color: transparent;
    }
  }
  .rating-popup {
    text-align: center;
  }
  .shelf-button {
    background-color: #4ca64c;
    color: white;
    margin-top: 10px;
    width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    * {
      background-color: transparent;
      color: white;
      padding: 4px;
    }
    .shelf-arrow {
      border-left: 1px solid #449544;
      margin-left: 7px;
      padding-left: 10px;
      //padding-top: 5px;
    }
  }
}
.ion-ios-star-rating1:before, .ion-md-star-rating1:before{content:"\f384"}
.ion-ios-star-rating2:before, .ion-md-star-rating2:before{content:"\f384 \f384"}
.ion-ios-star-rating3:before, .ion-md-star-rating3:before{content:"\f384 \f384 \f384"}
.ion-ios-star-rating4:before, .ion-md-star-rating4:before{content:"\f384 \f384 \f384 \f384"}
.ion-ios-star-rating5:before, .ion-md-star-rating5:before{content:"\f384 \f384 \f384 \f384 \f384"}
.ion-md-star-rating1 {
  width: 0px !important;
}
.ion-md-star-rating2 {
  width: 10px !important;
}
.ion-md-star-rating3 {
  width: 30px !important;
}
.ion-md-star-rating4 {
  width: 50px !important;
}
.ion-md-star-rating5 {
  width: 70px !important;
}
