// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Comic Sans MS";
  src: local("Comic Sans MS"), url("../assets/fonts/ComicSansMS3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
$label-lightgrey-color: #e5e5e5;
$label-grey-color: #8c8c8c;
$button-grey-color: #e8e8e8;
$border-grey-color: #d1d1d1;
$button-green-color: #3c843c;
$border-green-color: #449544;
$label-green-color: #005959;
$margin-left-right: 8px;
$margin-top-bottom: 10px;
$border-radius: 4px;

.ion-ios-star-rating1:before, .ion-md-star-rating1:before{content:"\f384"}
.ion-ios-star-rating2:before, .ion-md-star-rating2:before{content:"\f384 \f384"}
.ion-ios-star-rating3:before, .ion-md-star-rating3:before{content:"\f384 \f384 \f384"}
.ion-ios-star-rating4:before, .ion-md-star-rating4:before{content:"\f384 \f384 \f384 \f384"}
.ion-ios-star-rating5:before, .ion-md-star-rating5:before{content:"\f384 \f384 \f384 \f384 \f384"}
.ion-md-star-rating1 {
  width: 0px !important;
}
.ion-md-star-rating2 {
  width: 10px !important;
}
.ion-md-star-rating3 {
  width: 30px !important;
}
.ion-md-star-rating4 {
  width: 50px !important;
}
.ion-md-star-rating5 {
  width: 70px !important;
}
.tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
  color: $label-green-color !important;

}
ion-app.md, ion-app.ios {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}
